@use '../core/core';
@use '../core/vars';

#{core.class('layout')} {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "sidenav header"
    "sidenav main";
  height: calc(100% + #{vars.$navbar-height});
}

#{core.class('layout-header')} {
  grid-area: header;
  display: flex;
  flex-direction: column;
}

#{core.class('layout-main')} {
  grid-area: main;
}
