@use '../core/core';

#{core.class('logo')} {
  position: relative;
  width: auto;
  height: 100%;
}

#{core.class('logo-wrapper')} {
  display: inline-block;
  width: auto;
  height: 100%;
  padding: 0.3rem 0.37rem;
  overflow: hidden;
  border-radius: 30%;
  background-color: core.color('soft-background');
}
