@use 'sass:color';
@use '../core/core';
@use '../core/vars';

$height: vars.$navbar-height;

#{core.class('navbar')} {
  position: relative;
  z-index: 9;
  display: flex;
  align-items: center;
  width: 100%;
  height: $height;
  padding: 0.6rem 1rem;
  color: core.color('text');
  background-color: core.color('soft-background');
  box-shadow: 0 1px 3px core.color('shadow');
}

#{core.class('navbar-brand')} {
  display: flex;
  align-items: center;
  height: 100%;

  @include core.bq-greather-than('md') {
    display: none;
  }
}

#{core.class('navbar-title')} {
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 500;
}

#{core.class('navbar-toggle')} {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.4rem;
  background-color: transparent;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  user-select: none;

  &:hover, &:focus {
    background-color: color.change(core.color('dark'), $alpha: 0.075);
  }

  @include core.bq-greather-than('md') {
    display: none;
  }
}
