root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*{.cs,.cshtml}]
indent_size = 4

[*.cs]
#
# NET Analyzers
#
dotnet_code_quality.CA1711.allowed_suffixes = Permission

dotnet_diagnostic.CA1010.severity = none
dotnet_diagnostic.CA1034.severity = none
dotnet_diagnostic.CA1308.severity = none
dotnet_diagnostic.CA1724.severity = none
dotnet_diagnostic.CA1848.severity = none
dotnet_diagnostic.CA2007.severity = none

# Not a priority for now
dotnet_diagnostic.CA1716.severity = none

# WARNING: Disabled until we enable nullable reference types
dotnet_diagnostic.CA1062.severity = none

#
# Style Rules
#
dotnet_analyzer_diagnostic.category-Style.severity = warning
dotnet_diagnostic.IDE0008.severity = none
dotnet_diagnostic.IDE0022.severity = none
dotnet_diagnostic.IDE0046.severity = none
dotnet_diagnostic.IDE0058.severity = none

[*.cshtml.cs]
dotnet_diagnostic.SA1649.severity = none
