
.validation-summary-errors > ul {
  margin-bottom: 0;
  padding-left: 0;
  font-size: 0.95rem;
  list-style: none;
}

.tagify.form-control {
  height: unset;
}

.greetings-card {
  border: none;
  box-shadow: 0 0 0.36rem rgb(0, 0, 0, 0.125);
  border-radius: 0.4rem;
}

.greetings-card-img {
  align-self: center;
  width: 76%;
  height: 14rem;
}
