$prefix: 'im' !default;

$font-size: 16px !default;

$navbar-height: 3.75rem !default;
$sidebar-width: 17.5rem !default;

$color-light: #fff !default;
$color-dark: #000 !default;
$color-primary: #3272b2 !default;
$color-background: #f0f0f5 !default;
$color-soft-background: #f5f5f5 !default;
$color-in-primary: #fff !default;
$color-in-primary-soft: #f5f5f5 !default;
$color-text: #3d4e59 !default;
$color-shadow: rgba(0, 0, 0, 0.175) !default;

$colors: (
  'background': $color-background,
  'soft-background': $color-soft-background,
  'primary': $color-primary,
  'in-primary': $color-in-primary,
  'in-primary-soft': $color-in-primary-soft,
  'text': $color-text,
  'shadow': $color-shadow,
  'light': $color-light,
  'dark': $color-dark,
);

$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);
