@inject IViewLocalizer localizer
@model EditPermissionCommand

<div class="modal-header">
    <h5 class="modal-title" id="permission-modal-label">@localizer["Edit permission"]</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<partial name="./_Form" />
