@use '../core/core';

.footer {
  display: flex;
  padding: 0.8rem 1.2rem;
  font-size: 0.9rem;
  background-color: core.color('footer-bg');
  border-top: 1px solid core.color('footer-border');
}

.footer-link {
  color: core.color('text');
  text-decoration: underline;

  &:hover,
  &:focus {
    color: core.color('text');
  }
}

.footer-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
  list-style: none;
}

.footer-list-item {
  padding: 0 0.5rem;

  & + & {
    border-left: 1px solid core.color('footer-border');
  }
}
