
.page-table {
  margin-bottom: 0;
  border: 0;

  > tbody > tr > td {
    border-right: none;
    border-left: none;
  }

  > thead > tr > th {
    font-weight: 500;
    border-top: none;
    border-right: none;
    border-bottom-width: 1px;
    border-left: none;
  }
}
