@page "/account/forgot-password/confirm"
@model ForgotPasswordConfirmation
@inject IViewLocalizer localizer

@{
    var title = localizer["Forgot my password"];

    ViewData[KnownViewData.Title] = title;
}

<h1 class="login-content-title">@title</h1>

<div class="login-form-box">
    <div class="alert alert-success" role="alert">
        @localizer["Email sent. Please check your email to reset your password"]
    </div>

    <div class="form-group mt-5">
        <a class="btn btn-primary" href="@Model.ReturnUrl">
            <span class="bi-arrow-left" aria-hidden="true"></span>
            @localizer["Back"]
        </a>
    </div>
</div>
