@page "/account/lockout"
@model LockoutModel
@inject IViewLocalizer localizer

@{
    var title = localizer["Locked out"];

    ViewData[KnownViewData.Title] = title;
}

<h1 class="login-content-title">@title</h1>

<div class="login-form-box">
    <div class="alert alert-danger" role="alert">
        @localizer["This account has been locked out. Please try again later."]
    </div>

    <div class="form-group mt-5">
        <a class="btn btn-primary" href="@Model.ReturnUrl">
            <span class="bi-arrow-left" aria-hidden="true"></span>
            @localizer["Back"]
        </a>
    </div>
</div>
