{% layout '_layout.liquid' %}

{% if UserName != null and UserName != "" %}
<p style="font-family: Arial, sans-serif; font-size: 16px;">{{ UserName }},</p>
{% endif %}
<p style="color: #153643; font-family: Arial, sans-serif; font-size: 16px;">
  Para redefinir sua senha, clique no botão abaixo.
</p>
<br/>
<table style="background: #0b5822;">
  <tr>
    <td style="padding: 8px 12px 8px 12px; text-align: center;">
      <a href="{{ CallbackUrl }}" style="text-decoration: none; color: #ffffff;">
        Redefinir
      </a>
    </td>
  </tr>
</table>
